---
import type { CollectionEntry } from "astro:content";
import { BookOpen } from "lucide-astro";
import Layout from "@/layouts/Layout.astro";
import CircleCard from "@/components/CircleCard.astro";
import ColoredContainer from "@/components/ColoredContainer.astro";
import ColoredHeading from "@/components/ColoredHeading.astro";
import SubHeading from "@/components/SubHeading.astro";
import { ArrowLeft } from "lucide-astro";
import ButtonLink from "@/components/ButtonLink.astro";

const SLUGS_GRADE1 = [
  "1-1",
  "1-2",
  "1-3",
  "1-4",
  "1-5",
] as const satisfies CollectionEntry<"circles">["slug"][];

const SLUGS_GRADE2 = [
  "2-1",
  "2-2",
  "2-3",
  "2-5",
] as const satisfies CollectionEntry<"circles">["slug"][];

const SLUGS_GRADE3 = [
  "3m1",
  "3m2",
  "3e",
  "3i",
  "3c",
] as const satisfies CollectionEntry<"circles">["slug"][];

const SLUGS_GRADE4 = [
  "4m1",
  "4m2",
  "4e",
  "4i",
  "4c",
] as const satisfies CollectionEntry<"circles">["slug"][];

const SLUGS_GRADE5 = [
  "5m1",
  "5m2",
  "5e",
  "5c",
] as const satisfies CollectionEntry<"circles">["slug"][];

const SLUGS_SPORTS_CLUB = [
  "kyudo",
  "koushiki-yakyu",
  "soft-tennis",
  "takkyu",
  "basketball",
] as const satisfies CollectionEntry<"circles">["slug"][];

const SLUGS_CULTURAL_CLUB = [
  "engei-kankyo",
  "sado",
  "shashin",
  "tenmon",
  "radio",
  "robot",
] as const satisfies CollectionEntry<"circles">["slug"][];

const SLUGS_SOCIETY = [
  "kokusai-kouryu",
  "sauna-kenkyu",
  "juggling",
  "sugaku-kenkyu",
  "darts",
  "tea-time-seminar",
  "butsuri-kenkyu-kaihatsu",
  "manga-kenkyu",
  "media-design-lab",
] as const satisfies CollectionEntry<"circles">["slug"][];

const SLUGS_OTHERS = [
  "gakuensai-agemono",
  "club-season",
  "love-formula",
  "ev-seisaku",
  "air-tacky",
  "namuamidabutsu-anomaly",
  "nitic-community",
  "road-bike",
  "kyogen-aikokai",
  "fantasque",
  "hot-cake",
  "koenkai",
  "shikokai",
] as const satisfies CollectionEntry<"circles">["slug"][];
---

<Layout title="サークル">
  <main class="flex flex-col items-center w-full gap-6">
    <ColoredContainer color="yellow" class="flex-col w-full">
      <div class="flex items-center justify-between w-full">
        <ColoredHeading
          as="h2"
          class="text-3xl"
          text="サークル"
          color="yellow"
        />
        <div class="flex items-center gap-1.5">
          <BookOpen class="inline w-4 h-4 stroke-[2px] stroke-mauve-11" />
          <p class="text-sm font-bold text-mauve-11">このページの目次</p>
        </div>
      </div>

      <div class="flex flex-col w-full gap-3">
        <div class="grid w-full grid-cols-5 gap-3">
          <a
            href="#grade-1"
            class="w-full font-Dela text-sm text-center text-yellow-11 p-2.5 rounded-lg bg-yellow-3"
            >1年生</a
          >
          <a
            href="#grade-2"
            class="w-full font-Dela text-sm text-center text-yellow-11 p-2.5 rounded-lg bg-yellow-3"
            >2年生</a
          >
          <a
            href="#grade-3"
            class="w-full font-Dela text-sm text-center text-yellow-11 p-2.5 rounded-lg bg-yellow-3"
            >3年生</a
          >
          <a
            href="#grade-4"
            class="w-full font-Dela text-sm text-center text-yellow-11 p-2.5 rounded-lg bg-yellow-3"
            >4年生</a
          >
          <a
            href="#grade-5"
            class="w-full font-Dela text-sm text-center text-yellow-11 p-2.5 rounded-lg bg-yellow-3"
            >5年生</a
          >
        </div>
        <div class="grid w-full grid-cols-4 gap-3">
          <a
            href="#sports"
            class="w-full font-Dela text-sm text-center text-yellow-11 p-2.5 rounded-lg bg-yellow-3"
            >運動部</a
          >
          <a
            href="#cultural"
            class="w-full font-Dela text-sm text-center text-yellow-11 p-2.5 rounded-lg bg-yellow-3"
            >文化部</a
          >
          <a
            href="#society"
            class="w-full font-Dela text-sm text-center text-yellow-11 p-2.5 rounded-lg bg-yellow-3"
            >同好会</a
          >
          <a
            href="#others"
            class="w-full font-Dela text-sm text-center text-yellow-11 p-2.5 rounded-lg bg-yellow-3"
            >その他</a
          >
        </div>
      </div>
    </ColoredContainer>

    <ColoredContainer color="yellow" class="flex-col w-full">
      <ColoredHeading
        as="h2"
        color="yellow"
        text="クラスのサークル"
        class="text-4xl"
      />
      <div class="grid w-full grid-cols-1 gap-9 xl:grid-cols-2">
        <div class="flex flex-col items-center gap-6">
          <SubHeading id="grade-1" as="h3" class="sticky z-20 top-20 md:top-6"
            >1年生</SubHeading
          >
          {
            SLUGS_GRADE1.map((slug) => (
              <CircleCard type="list" slug={slug} class="w-full" />
            ))
          }
        </div>
        <div class="flex flex-col items-center gap-6">
          <SubHeading id="grade-2" as="h3" class="sticky z-20 top-20 md:top-6"
            >2年生</SubHeading
          >
          {
            SLUGS_GRADE2.map((slug) => (
              <CircleCard type="list" slug={slug} class="w-full" />
            ))
          }
        </div>
        <div class="flex flex-col items-center gap-6">
          <SubHeading id="grade-3" as="h3" class="sticky z-20 top-20 md:top-6"
            >3年生</SubHeading
          >
          {
            SLUGS_GRADE3.map((slug) => (
              <CircleCard type="list" slug={slug} class="w-full" />
            ))
          }
        </div>
        <div class="flex flex-col items-center gap-6">
          <SubHeading id="grade-4" as="h3" class="sticky z-20 top-20 md:top-6"
            >4年生</SubHeading
          >
          {
            SLUGS_GRADE4.map((slug) => (
              <CircleCard type="list" slug={slug} class="w-full" />
            ))
          }
        </div>
      </div>
      <div class="flex flex-col items-center w-full gap-6 mt-3">
        <SubHeading id="grade-5" as="h3" class="sticky z-20 top-20 md:top-6"
          >5年生</SubHeading
        >
        <div class="grid w-full gap-6 xl:grid-cols-2">
          {
            SLUGS_GRADE5.map((slug) => (
              <CircleCard type="list" slug={slug} class="w-full" />
            ))
          }
        </div>
      </div>
    </ColoredContainer>

    <ColoredContainer color="yellow" class="flex-col w-full">
      <ColoredHeading
        as="h2"
        color="yellow"
        text="部活動・同好会"
        class="text-4xl"
      />

      <div class="grid w-full grid-cols-1 gap-9 xl:grid-cols-2">
        <div class="flex flex-col items-center gap-6">
          <SubHeading id="sports" as="h3" class="sticky z-20 top-20 md:top-6"
            >運動部</SubHeading
          >
          {
            SLUGS_SPORTS_CLUB.map((slug) => (
              <CircleCard type="list" slug={slug} class="w-full" />
            ))
          }
        </div>
        <div class="flex flex-col items-center gap-6">
          <SubHeading id="cultural" as="h3" class="sticky z-20 top-20 md:top-6"
            >文化部</SubHeading
          >
          {
            SLUGS_CULTURAL_CLUB.map((slug) => (
              <CircleCard type="list" slug={slug} class="w-full" />
            ))
          }
        </div>
      </div>
      <div class="flex flex-col items-center w-full gap-6 mt-3">
        <SubHeading id="society" as="h3" class="sticky z-20 top-20 md:top-6"
          >同好会</SubHeading
        >
        <div class="grid w-full gap-6 xl:grid-cols-2">
          {
            SLUGS_SOCIETY.map((slug) => (
              <CircleCard type="list" slug={slug} class="w-full" />
            ))
          }
        </div>
      </div>
    </ColoredContainer>

    <ColoredContainer color="yellow" class="flex-col w-full">
      <ColoredHeading
        id="others"
        as="h2"
        color="yellow"
        text="その他"
        class="text-4xl"
      />
      <SubHeading as="h3" class="sticky z-20 self-center top-20 md:top-6"
        >学生有志によるサークル</SubHeading
      >
      <div class="grid w-full gap-6 xl:grid-cols-2">
        {
          SLUGS_OTHERS.map((slug) => (
            <CircleCard type="list" slug={slug} class="w-full" />
          ))
        }
      </div>
    </ColoredContainer>
  </main>
  <ButtonLink href="/" color="yellow">
    <ArrowLeft />トップページに戻る
  </ButtonLink>
</Layout>
