---
import '@/styles/global.css';
import '@/styles/colors.css';
import HeroSlideShow from '@/components/HeroSlideShow.astro';
import Footer from '@/components/footer.astro';
import Header from '@/components/header.astro';
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer';
import { SEO } from 'astro-seo';

/**
 *メタデータやOpengraph、Twitterカードの情報を設定するためのレイアウト。
 *受け取るPropsの目的は、`astro-seo`の仕様に従う。
 * @see https://github.com/jonasmerlin/astro-seo
 */
export interface Props {
  /**
   * ページのタイトル。「茨香祭」のようなこのサイト全体の名称は含めないこと。
   * サークル名やイベント名を指定する。
   * @example "Club Season"
   */
  title: string;

  /**
   * ページの説明文。
   * サークルやイベントの要約文を指定する。
   * @example "可愛いキャストと一緒にたくさんお話ししましょ♡"
   */
  description?: string;

  /**
   * Opengraphで使用する画像のURL。`http://` `https://` から始まり、オリジンを含む絶対URLを指定する。
   * 以下のように、`import.meta.env.SITE`を使ってデプロイ先のオリジンを取得することができる。
   * ```ts
   * new URL("/route/to/opengraph-image.png", import.meta.env.SITE).href;
   * ```
   * Xのカードと大きさを揃えるため、解像度は必ず1200x675pxにする。
   * @example "https://<DEPLOY_ORIGIN>/opengraph-image.png"
   * @see https://docs.astro.build/ja/guides/environment-variables/
   */
  image?: string;

  /**
   * Opengraphで使用する画像のaltテキスト。
   * @example "Club Seasonのサークルカット。黒と金色基調の高級感あふれるデザインのアイコン。"
   */
  imageAlt?: string;

  /**
   * Opengraphで使用する画像の幅。
   * @default 1200
   */
  imageWidth?: number;

  /**
   * Opengraphで使用する画像の高さ。
   * @default 675
   */
  imageHeight?: number;

  /**
   * このページのコンテンツを作成したTwitterアカウントのユーザー名。
   * このサイト全体のアカウントではなく、このページのコンテンツを作成したアカウント - つまりサークルやバンドのアカウントを指定する。
   * @example "@potus"
   */
  twitterCreator?: `@${string}`;

  /**
   * モバイルでもヒーロー画像を表示するかどうか。
   */
  hasHero?: boolean;
}

const DEFAULT_DESCRIPTION =
  '2024年10月26日(土)~27日(日)に開催される、茨城工業高等専門学校の文化祭『茨香祭(しこうさい)』の公式Webサイトです！\nイベントやサークルなどの情報をお届けしていきますのでお楽しみに✨\n一般公開は26日の10時から16時までとなります。\n#shikosai33 #茨香祭' as const;
const DEFAULT_OPENGRAPH_IMAGE_URL = new URL('/opengraph-image.png', import.meta.env.SITE).href;
const DEFAULT_OPENGRAPH_IMAGE_ALT =
  '第33回茨香祭のパンフレットの表紙をあしらった、かわいらしい、ちゃあみぃ！なサムネイル。' as const;
const DEFAULT_OPENGRAPH_IMAGE_WIDTH = 1200 as const;
const DEFAULT_OPENGRAPH_IMAGE_HEIGHT = 675 as const;
const DEFAULT_TWITTER_CREATOR = '@shikosai33' as const;

const {
  title,
  description = DEFAULT_DESCRIPTION,
  image = DEFAULT_OPENGRAPH_IMAGE_URL,
  imageAlt = DEFAULT_OPENGRAPH_IMAGE_ALT,
  imageWidth = DEFAULT_OPENGRAPH_IMAGE_WIDTH,
  imageHeight = DEFAULT_OPENGRAPH_IMAGE_HEIGHT,
  twitterCreator = DEFAULT_TWITTER_CREATOR,
  hasHero = false,
} = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <SEO
      title={title}
      titleTemplate={title === "トップページ"
        ? "第33回茨香祭"
        : "%s | 第33回茨香祭"}
      description={description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: `${title} | 第33回 茨香祭`,
          type: "website",
          image: image,
          url: Astro.request.url,
        },
        image: {
          url: image,
          alt: imageAlt,
          width: imageWidth,
          height: imageHeight,
        },
        optional: {
          locale: "ja_JP",
          siteName: "第33回茨香祭",
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@shikosai33",
        title: `${title} | 第33回茨香祭`,
        description: description,
        image: image,
        imageAlt: imageAlt,
        creator: twitterCreator,
      }}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-icon.png" />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
    />
  </head>
  <body
    class="relative flex flex-col items-center justify-start p-0 bg-mauve-1 text-mauve-12 md:flex-row md:items-start md:p-6"
  >
    <div
      class="md:sticky md:top-6 pb-16 -mb-16 flex flex-col gap-6 w-full md:w-[calc((100svh-64px-32px-24px*3)*0.7071)] md:max-w-[40vw] shrink-0 grow-0 overflow-x-hidden overflow-y-visible md:overflow-visible"
    >
      <Header
        class="fixed top-0 left-0 right-0 z-50 w-full md:sticky md:top-6"
      />
      <div aria-hidden class="w-full h-16 md:hidden"></div>
      <HeroSlideShow
        class:list={["w-full mb-8", !hasHero && "!hidden md:!flex"]}
      />
    </div>
    <div
      class="relative px-1 md:px-0 z-10 flex flex-col gap-6 w-full md:w-auto grow justify-start min-h-[calc(100svh-24px*2)] mt-6 md:mt-0 md:ml-6"
    >
      <slot />
      <Footer class="mt-auto -mx-1 md:mx-0 justify-self-end" />
    </div>
  </body>
</html>
